<main role="main" ng-app="myApp.productList" ng-controller="ProductListCtrl">

  <section class="jumbotron my-jumbotron text-center bg-white">
    <div class="container">
      <h1 class="jumbotron-heading">Product List</h1>
      <p></p>
      <p class="lead text-muted">This website shows a list of products. You can view them or try add / edit/ delete manipulations. </p>
      <p>
        <a class="btn btn-primary text-white" ng-click="add()">Add a New Product</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <br>
      <input type="text" class="form-control" placeholder="Keyword Search" ng-model="searchText">
      <br>
      <div><p>Sort By:</p></div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" ng-click="sortByPriceHigh()">Price: Highest</button>
        <button type="button" class="btn btn-default" ng-click="sortByPriceLow()">Price: Lowest</button>
        <button type="button" class="btn btn-default" ng-click="sortByDateNew()">Date: Newest</button>
        <button type="button" class="btn btn-default" ng-click="sortByDateOld()">Date: Oldest</button>
      </div>
      <br>
      <br>
      <div class="row">

        <div class="col-md-4" ng-repeat="product in products | filter:search">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="img/card.svg" alt="Card image cap">
            <div class="card-body">
              <h4>{{product.name}}</h4>
              <h5>Price: $<a>{{product.price}}</a></h5>
              <p class="card-text">{{product.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="update(product._id)">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="delete(product._id)">Delete</button>
                </div>
                <small class="text-muted">{{product.created_at_string}}</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>This is a demo of product listing project, try to add / update / delete a product, enjoy it!</p>
  </div>
</footer>
