<div class="container" ng-app="myApp.updateProduct" ng-controller="UpdateProductCtrl">
    <div class="jumbotron">
        <h2>Product Information</h2>
        <hr>
        <form data-toggle="validator" name="myForm">
            <div class="form-group" role="form">
                <label>Name:</label>
                <input type="text" class="form-control" ng-model="product.name" id="name" required>
            </div>
            <div class="form-group">
                <label>Price:</label>
                <input type="number" class="form-control" ng-model="product.price" id="price" required>
                <div class="help-block">Your input of price must be a number</div>
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" ng-model="product.description" id="description" required>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="myForm.$valid && update()" id="submit-btn">Submit</button>
        </form>
    </div>
</div>
